/* src/App.module.css */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #343a40;
  padding: 15px;
}

.navLink {
  margin: 0 15px;
  color: #f8f9fa;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover {
  color: #ffc107;
}
